*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
    padding-top: 10px;
}

form {
    max-width: 600px;
    margin: 10px auto;
    padding: 40px 30px;
    background: #e3e7e9;
    border-radius: 8px;
}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #fcfcfc;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
    border: 1px solid lightgray;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

select {
    padding: 6px;
    height: 36px;
    border-radius: 2px;
    padding-left: 15px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    margin-right: 2rem;
}

input[type="submit"] {
    padding: 12px 32px 10px 32px;
    color: #FFF;
    background-color: #53c274;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;

    margin-bottom: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #27a84d;
}

fieldset {
    margin-bottom: 30px;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

label.light {
    font-weight: 300;
    display: inline;
}

.number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}


#resources {
    display: flex;
    flex-direction: column;
}

#resourceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#resource {
    border: 1px solid gray;
    margin: 5px 10px;
    padding: 5px 8px;
    max-width: 55%;
    min-width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#RemoveIcon {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #53c274;
    padding: 3px;
    position: absolute;
    left: 0;
    transform: translate(-70%, -80%);
    display: none;
    cursor: pointer;
}

#resource:hover>#RemoveIcon {
    display: block;
}

#RemoveIcon:hover {
    background-color: red;
}

#resource small {
    margin-right: 7px;
}

#nameEditor {
    border: 1px solid gray;
    margin: 5px 10px;
    padding: 6px 8px;
    max-width: 80%;
}


@media screen and (min-width: 480px) {

    form {
        max-width: 480px;
    }

}

::placeholder {
    color: #8997A0;
}